* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #fff;
}

.contenedor-general {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  border-right: 20px;
}

.bloque-artistas {
  flex: 2.9;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 25px;
  top: 15px;
transition: 0.2s;
}

.overlay-texto h2 {
  font-family: "Bungee", sans-serif;
   font-size: 150px;
  font-size: 2rem;
   justify-content: center;
  text-align: center;
  font-weight: 800;
  margin-bottom: 15px;
  transition: 0.2s;
  margin-top: 50px;
}

.overlay-texto p {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
  font-size: 2rem;
   justify-content: center;
  text-align: center;
  line-height: 1.4;
  max-width: 700px;
  margin: 25px;
}

.bloque-derecho {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  height: 105%;
  width: 5%;
  margin-top: 10px;
}

.tarjeta {
  flex: 5;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 100px;
  margin-left: 30px;
  margin-top: 10px;
  width: 100%;
  height: 400px;
  }

.overlay h3 {
  font-family: "Bungee", sans-serif;
  font-size: 90px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
 justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 4%;
}

.overlay p {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
   justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
   margin-right: 15px;
  margin-left: 3%;
}

(max-width: 100px)
.contenedor-general{
flex-direction: column;
width: 30px;
 }

  .bloque-derecho {
    flex-wrap: wrap;
    width: 10px;
  }


* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}


.novedades-seccion {
  background-color: #3b2e3e; 
  padding: 80px 0;
}

.novedades-contenedor {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.novedades-titulo {
 font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 10px;
  right: 970px;
  position: absolute;
  text-align: left;
  margin-top: 20px;
}

.novedades-subtitulo {
  font-family: "Bungee", sans-serif;
  font-size: 90px;
  position: relative;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 40px;
  right: 470px;
  position: absolute;
  text-align: left;
  margin-top: 110px;
}

.novedades-tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.novedades-tarjeta {
  background-color: transparent;
  width: 300px;
  text-align: left;
}

.novedades-tarjeta img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: transform 0.4s ease;
  margin-top: 190px;
}

.novedades-tarjeta h4 {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
   font-family: "Bungee", sans-serif;
  font-size: 20px;
  position: relative;
}

.novedades-tarjeta p {
  font-size: 17px;
  line-height: 1.5;
  color: #ddd;
   font-family: "Didact Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@media (max-width: 1024px) {
  .novedades-tarjetas {
    flex-direction: column;
    align-items: center;
  }

  .novedades-tarjeta {
    width: 90%;
  }
}








