*{
margin: 0;
padding: 0;
}

.menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color:white;
}

.menu nav ul li{
   float: right;
   display: block;
}

.menu nav ul li a{
    text-decoration: none;
    color:rgb(32, 33, 34);
    padding: 8px;
    padding-top: 60px;
    display: block;
    margin-left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.menu nav ul li a:hover{
  text-decoration-line:underline;
  transition: 0,1s;
}

.TCR{
    background-color:transparent;
    border-radius: 30px;
    border: 3px solid rgb(14, 13, 13);
    color: rgb(24, 23, 23);
    text-transform: uppercase;
    padding: 13px 30px;
    font-size: 15px;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    margin-bottom: 10px;
    margin-top: -50px;
    margin-left: 5px;
  }

.imagen{
    width: 200px;
    height: 90px;
    margin-left: -20px;
    border-radius: 25px; 
    margin-top: 20px;
}


body {
    background: white;
    color: white;
}

.about-section {
display: flex;
  width: 100%;
  height: 120vh;
}

.image-container img {
    width: 950px;
    height: 600px;
   margin-top: 140px;
   margin-left: 10px;
}

.text-container {
    width: 950px;
    height: 740px;
  margin-left: 15px;
  background-color: #1c1e22;
  text-align: center;
  }

.text-container h1 {
    font-family: "Bungee", sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-top: 300px;
    }

.text-container p {
     font-family: "Didact Gothic", sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.intro-Proposito {
font-family: "Outfit", sans-serif;
  font-weight: weight;
  font-style: normal;
  color: #eee;
    display: flex;
    position: absolute;
    left: 80px;
    margin-top: 100px;
    text-align: left;
}

.intro-Proposito .h2{
  font-family: "Bungee", sans-serif;
  font-size: 30px;
  text-align: justify;
  margin-top: 12%;
  margin-left: 100px;
}

.intro-Proposito h1 {
    font-size: 60px;
    display: flex;
    position: absolute;
    left: 100px;
    top: 15%;
}

.Proposito {
    display: flex;
    position: relative;
  font-size: 23px; 
  margin-top: -130px;
  background-color: #1e1d27;
}

.MVS-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    margin: 200px auto;
    max-width: 1180px;
    align-items: center;
    position: relative;
    text-align: center;
    justify-content: center;
    top: 140px;
}

.MVS-card {
    text-align: justify;
    padding: 20px;
    border: 1px solid #eee;
    background-color: #fff;
    
}

.MVS-card h2{
    color: black;
    font-family: "Bungee", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.MVS-card p{
    color: black;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-top: 20px;
}

.MVS-card img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}
