*{
margin: 0;
padding: 0;
}

.menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

.menu nav ul li{
   float: right;
   display: block;
}

.menu nav ul li a{
    text-decoration: none;
    color:rgb(226, 230, 234);
    padding: 8px;
    padding-top: 60px;
    display: block;
    margin-left: 20px;
    z-index: 1000;
}

.menu nav ul li a:hover{
  text-decoration-line:underline;
  transition: 0,1s;
}

.TCR{
    background-color:transparent;
    border-radius: 30px;
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    padding: 13px 30px;
    font-size: 15px;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    margin-bottom: 10px;
    margin-top: -50px;
    margin-left: 5px;
  }

.imagen{
    width: 200px;
    height: 90px;
    border-radius: 25px; 
    margin-top: 20px;
}

.bg-overlay {
    position: absolute;
    inset: 0;
    background: rgba(68, 67, 67, 0.35);
    backdrop-filter: blur(3px);
    z-index: 0;
    height: 850px;
}

.header{
    background-image: url(FondoInicio.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 115vh;
    min-width: 50vh;
    display: flex;
    align-items: center;
}

.header-content{
    position: absolute;
    left: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content h1{
   color: aliceblue;
   font-family: "Bungee", sans-serif;
   font-size: 72px;
   padding: 140px;
   text-align: center;
   align-content: center;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
   padding-top: 15px;
}

.header-content h4{
    text-align: center;
    color: aliceblue;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    margin-top: -250px;
    padding-top: 515px;
    margin-bottom: 20px;
}

.Vermas{
  background-color: transparent;
     border-radius: 30px;
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 17px;
    font-family:"Archivo Black", sans-serif;
    font-style: normal;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    margin-top: 500px;
    text-decoration: none;
  }

* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #fff;
}

.contenedor-general {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  border-right: 20px;
}

.bloque-artistas {
  flex: 2.9;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 15px;
  top: 15px;
transition: 0.2s;
}

.overlay-texto h2 {
  font-family: "Bungee", sans-serif;
   font-size: 150px;
  font-size: 2rem;
   justify-content: center;
  text-align: center;
  font-weight: 800;
  margin-bottom: 15px;
  transition: 0.2s;
  margin-top: 50px;
}

.overlay-texto p {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
  font-size: 2rem;
   justify-content: center;
  text-align: center;
  line-height: 1.4;
  margin: 25px;
}

.bloque-derecho {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  height: 105%;
  width: 5%;
  margin-top: 10px;
}

.tarjeta {
  flex: 5;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 100px;
  margin-left: 30px;
  margin-top: 10px;
  }

.overlay h3 {
  font-family: "Bungee", sans-serif;
  font-size: 90px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
 justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 4%;
}

.overlay p {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
   justify-content: center;
  text-align: center;
  font-size: 20px;
   margin-right: 20px;
  margin-left: 5%;
}

.bloque-derecho {
    flex-wrap: wrap;
    width: 30px;
  }

  .tarjeta{ 
    width: 100%;
    height: 500%;
    margin-left: 20px;
}


* {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
}

.novedades-seccion {
  background-color: #3b2e3e; 
  padding: 80px 0;
}

.novedades-contenedor {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.novedades-titulo {
 font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 10px;
  right: 910px;
  position: absolute;
  text-align: left;
  margin-top: 20px;
}

.novedades-subtitulo {
  font-family: "Bungee", sans-serif;
  font-size: 90px;
  position: relative;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 40px;
  right: 470px;
  position: absolute;
  text-align: left;
  margin-top: 110px;
}

.novedades-tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.novedades-tarjeta {
  background-color: transparent;
  width: 300px;
  text-align: left;
}

.novedades-tarjeta img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: transform 0.4s ease;
  margin-top: 190px;
}

.novedades-tarjeta h4 {
  font-size: 1.1rem;
  font-weight: 800;
  margin-top: 35px;
  text-transform: uppercase;
   font-family: "Bungee", sans-serif;
  font-size: 30px;
  position: relative;
}

.novedades-tarjeta p {
  font-size: 17px;
  line-height: 1.5;
  color: #ddd;
   font-family: "Didact Gothic", sans-serif;
    font-weight: 500;
    margin-top: 15px;
    font-style: normal;
    text-align: justify;
}
